.Minesweeper {
  text-align: center;
}

.wrapper{
  width: 200px;
  margin: 30px auto;
}

.cellboard{
  width: 200px;
  height:200px;
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  margin: 10px 0 25px 0;
}

.cell{
  background-color: lightgrey;
  color:#282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #c8c8c8;
  cursor: pointer;
  width:38px;
  height:38px;
}

.cell:hover {
  background-color: rgb(189, 189, 189);
}

.winLooseInfo{
  color:rgb(182, 0, 0);
  font-weight: bold;
}





